<% unless params[:render] == 'modal' %>
  <div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
      <h3 class="content-header-title">
        <% if content_for? :header %>
          <%= yield :header %>
        <% end %>
      </h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
      <div class="breadcrumbs-top float-md-right">
        <div class="breadcrumb-wrapper mr-1">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%= link_to root_path do %>
                Dashboard
              <% end %>
            </li>
            <% if content_for? :breadcumb %>
              <%= yield :breadcumb %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="content-body">
  <section id="drag-area">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <% if content_for? :card_title %>
                <%= yield :card_title %>
              <% end %>
            </h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <% if content_for? :extra_actions %>
                  <%= yield :extra_actions %>
                <% end %>
            </div>
          </div>

          <div class="card-content collapse show">
            <div class="card-body">
              <% if content_for? :corpo %>
                <%= yield :corpo %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<% if content_for? :modal %>
  <%= yield :modal %>
<% end %>